*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .first-page{
    background: url('https://opengameart.org/sites/default/files/Starry%20night%20Image.png');
} */

body{
    height: 100vh;
    background: url('https://cdnb.artstation.com/p/assets/images/images/012/078/011/large/sasikumar-artist-img-20180724-233908-725.jpg?1532938104');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.welcome-container h1{
    font-size: 90px;
    font-style: italic;
    text-shadow: 0.5px grey;
    color: black;
    
    /* display: flex;
    justify-content: center;
    align-content: center; */
}
p{
    font-size: 50px;
    font-style: italic;
    float: right;
    color: darkblue;
    /* display: flex;
    justify-content: center;
    align-content: center; */
}
.button {
    background-color: orangered;
    border: none;
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    float: right;
    margin-top: 100px;
}
  
.button:hover {
    background-color: lightblue;
}

@media (max-width: 768px) {
    .welcome-container h1 {
        font-size: 60px;
    }
    p {
        font-size: 30px;
    }
    .button {
        padding: 15px 25px;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .welcome-container h1 {
        font-size: 40px;
    }
    p {
        font-size: 24px;
    }
    .button {
        padding: 10px 20px;
        font-size: 16px;
    }
}
